* {
    background-color: #202020;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    color: rgb(119, 119, 119);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 100vh;
    width: 100vw;
}
#cellbox {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 40vw;
    aspect-ratio: 1/1;
}
#cellbox .cell:nth-child(1){
    box-sizing: border-box;
    border-bottom: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
}
#cellbox .cell:nth-child(2){
    box-sizing: border-box;
    border-bottom:1px solid rgb(220, 220, 220);
}
#cellbox .cell:nth-child(3){
    box-sizing: border-box;
    border-left: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
}
#cellbox .cell:nth-child(4){
    box-sizing: border-box;
    border-right: 1px solid rgb(220, 220, 220);
}
/* #cellbox .cell:nth-child(){
} */
#cellbox .cell:nth-child(6){
    box-sizing: border-box;
    border-left: 1px solid rgb(220, 220, 220);
}
#cellbox .cell:nth-child(7){
    box-sizing: border-box;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
}
#cellbox .cell:nth-child(8){
    box-sizing: border-box;
    border-top: 1px solid rgb(220, 220, 220);
}
#cellbox .cell:nth-child(9){
    box-sizing: border-box;
    border-top: 1px solid rgb(220, 220, 220);
    border-left: 1px solid rgb(220, 220, 220);
}
.cell {
    flex: 1 0 calc(33.33%);
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 9vw;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.sidebars {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 1vw;
}
.buttons {
    box-sizing: border-box;
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    width: 10vw;
    height: 5vw;
    position: fixed;
    top: 3vw;
}
#buttonreset {
    cursor: pointer;
    font-size: 3vw;
    padding-top: 0.3vw;
    left: 10vw;
}
#sidebar01 {
    border-right: 1px solid rgb(220, 220, 220);
    margin-right: 10px;
}
#sidebar02{
    border-left: 1px solid rgb(220, 220, 220);
    margin-left: 10px;
}
.players {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(220, 220, 220);
    width: 10vw;
    height: 10vw;
    flex: 1;
    font-size: 5vw;
}
.scores {
    box-sizing: border-box;
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    width: 10vw;
    height: 5vw;
    position: fixed;
    bottom: 10vw;
    font-size: 3.5vw;
}
@media (max-width: 768px) {
    body {
        display: flex;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .scores {
        position: relative;
        bottom: 0;
    }
    .buttons {
        position: relative;
        top: 0;
    }
    #cellbox {
        width: 100vw;
    }
    .sidebars{
        display: flex;
    }
    #buttonreset {
        left: 0;
    }
    #player02 {
        margin-left: 12vw;
    }
    .cell {
        font-size: 23vw;
    }
    #sidebar01 {
        border-right: 0px solid rgb(220, 220, 220);
        margin-right: 0px;
    }
    #sidebar02{
        border-left: 0px solid rgb(220, 220, 220);
        margin-left: 0px;
    }
}